.checkboxContainer {
  display: flex;
  align-items: center;
  gap: var(--space-sxs);
  cursor: pointer;
  user-select: none;
}

.checkboxContainer input {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid var(--color-border);
  border-radius: 4px;
  background-color: var(--color-surface);
  cursor: pointer;
  position: relative;
  transition: background-color 0.2s ease;
  margin-bottom: 3px;
}

.checkboxContainer input:checked {
  background-color: var(--color-backdrop);
  border-color: var(--color-border);
}

.checkboxContainer input:checked::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 5px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
