.header {
  display: flex;
  flex-direction: row;

  &__info {
    margin-right: var(--space-lg);

    h2 {
      margin: 0;
    }
  }
}

@media screen and (max-width: 480px) {
  .header {
    flex-direction: column;
    max-width: 480;
    width: 100%;
  }
}
