.header {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-bottom: 1px solid var(--color-border);
  padding: var(--space-sm) var(--space-md);
  position: sticky;
  top: 0;
  z-index: 100;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-family: var(--font-title);
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
  }
}
