.farmer-info {
  display: flex;
  flex-direction: column;

  h3 {
    font-size: 22px;
  }

  & p {
    margin: 0;
  }

  &--level {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-sm);
    margin-bottom: var(--space-md);
  }

  &--professions {
    & ul {
      display: flex;
      flex-direction: row;
      gap: var(--space-lg);

      & li {
        & input {
          margin-left: var(--space-sm);
        }
      }
    }
  }
}
