.select {
  border: var(--border-sm);
  border-radius: var(--border-rd-sm);
  background: var(--color-surface);
  height: 22px;
  margin-bottom: 6px;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}
