.planner_plot {
  width: 660px;
}

.header {
  height: 40px;
  text-align: right;
  padding: 0 var(--space-md);
}

.planner {
  height: 450px;
  border: var(--border-sm);
  border-radius: var(--border-rd-sm);
  background-color: var(--color-backdrop);
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-sm);
  align-items: flex-start;
  padding: var(--space-sm);
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  & > * {
    flex: 1 1 calc(50% - var(--space-sm));
    max-width: calc(50% - var(--space-sm));
  }
}
