.planner_footer {
  margin-top: var(--space-md);
  display: flex;
  justify-content: space-between;
  padding: var(--space-sm);
  background-color: var(--color-backdrop);
  border-radius: var(--border-rd-sm);
  font-size: var(--fs-md);
}
